.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
    "sol10 sol10"
    "mars meteorite"
    "mars microscope"
    "intrepid intrepid";
  gap: 1rem;
  width: 980px;
  margin: 0 auto;
}
.one {
  grid-area: sol10;
}
.two {
  grid-area: mars;
}
.three {
  grid-area: intrepid;
}
.four {
  grid-area: meteorite;
}
.five {
  grid-area: microscope;
}

/* extremely basic formatting */
body {
  background-color: black;
}
img {
  max-width: 100%;
}
