/* extremely basic formatting */
body {
  font-family: "Libre Franklin", sans-serif;
  line-height: 1.5;
}
/* make image flex with container */
img {
  max-width: 100%;
}
/* remove default margin/padding */
figure {
  margin: 0;
  padding: 0;
}